body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container{
    height: 300px;
    width: 400px;
    border: 2px solid rgb(146, 146, 146);
    margin-top: 50px;
}

.btn{
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #ababab;
    font-size: 15px;
}

.text{
    font-size: 15px;
    font-family: sans-serif;
    color: #495057;
    text-align: center;
}

@media (max-width:450px) {
    .container{
        height: 250px;
        width: 250px;
    }
}